## 파일 업로드

In [0]:
from google.colab import files
uploaded = files.upload()

Saving house_price.csv to house_price (1).csv

In [0]:
import pandas as pd
import io

df = pd.read_csv(io.StringIO(uploaded['house_price.csv'].decode('cp949')))
df

     지역명               규모구분    연도   월 분양가격(㎡)
0     서울         전용면적 60㎡이하  2015  10    5652
1     서울   전용면적 60㎡초과 85㎡이하  2015  10    5882
2     서울  전용면적 85㎡초과 102㎡이하  2015  10    5721
3     서울        전용면적 102㎡초과  2015  10    5879
4     인천         전용면적 60㎡이하  2015  10    3488
5     인천   전용면적 60㎡초과 85㎡이하  2015  10    3119
6     인천  전용면적 85㎡초과 102㎡이하  2015  10    3545
7     인천        전용면적 102㎡초과  2015  10    3408
8     경기         전용면적 60㎡이하  2015  10    3126
9     경기   전용면적 60㎡초과 85㎡이하  2015  10    3239
10    경기  전용면적 85㎡초과 102㎡이하  2015  10    3496
11    경기        전용면적 102㎡초과  2015  10    3680
12    부산         전용면적 60㎡이하  2015  10    2950
13    부산   전용면적 60㎡초과 85㎡이하  2015  10    2999
14    부산  전용면적 85㎡초과 102㎡이하  2015  10    2957
15    부산        전용면적 102㎡초과  2015  10    3500
16    대구         전용면적 60㎡이하  2015  10    2614
17    대구   전용면적 60㎡초과 85㎡이하  2015  10    2696
18    대구  전용면적 85㎡초과 102㎡이하  2015  10    2557
19    대구        전용면적 102㎡초과  2015  10    2598
20    광주         전용면적 60㎡이하  2015  10    2253
21    광주   전용면적 60㎡초과 85㎡이하  2015  10    2439
22    광주  전용면적 85㎡초과 102㎡이하  2015  10
23    광주        전용면적 102㎡초과  2015  10
24    대전         전용면적 60㎡이하  2015  10    2585
25    대전   전용면적 60㎡초과 85㎡이하  2015  10    2428
26    대전  전용면적 85㎡초과 102㎡이하  2015  10    2461
27    대전        전용면적 102㎡초과  2015  10
28    울산         전용면적 60㎡이하  2015  10    2422
29    울산   전용면적 60㎡초과 85㎡이하  2015  10    3040
...   ..                ...   ...  ..     ...
3030  강원  전용면적 85㎡초과 102㎡이하  2019   6    3329
3031  강원        전용면적 102㎡초과  2019   6    2574
3032  충북         전용면적 60㎡이하  2019   6    2149
3033  충북   전용면적 60㎡초과 85㎡이하  2019   6    2359
3034  충북  전용면적 85㎡초과 102㎡이하  2019   6    2576
3035  충북        전용면적 102㎡초과  2019   6    2673
3036  충남         전용면적 60㎡이하  2019   6    2507
3037  충남   전용면적 60㎡초과 85㎡이하  2019   6    2600
3038  충남  전용면적 85㎡초과 102㎡이하  2019   6     NaN
3039  충남        전용면적 102㎡초과  2019   6     NaN
3040  전북         전용면적 60㎡이하  2019   6    2397
3041  전북   전용면적 60㎡초과 85㎡이하  2019   6    2465
3042  전북  전용면적 85㎡초과 102㎡이하  2019   6    2724
3043  전북        전용면적 102㎡초과  2019   6    2634
3044  전남         전용면적 60㎡이하  2019   6    2241
3045  전남   전용면적 60㎡초과 85㎡이하  2019   6    2316
3046  전남  전용면적 85㎡초과 102㎡이하  2019   6    2337
3047  전남        전용면적 102㎡초과  2019   6    2881
3048  경북         전용면적 60㎡이하  2019   6    2472
3049  경북   전용면적 60㎡초과 85㎡이하  2019   6    2522
3050  경북  전용면적 85㎡초과 102㎡이하  2019   6    2667
3051  경북        전용면적 102㎡초과  2019   6    3076
3052  경남         전용면적 60㎡이하  2019   6    2937
3053  경남   전용면적 60㎡초과 85㎡이하  2019   6    2954
3054  경남  전용면적 85㎡초과 102㎡이하  2019   6    3211
3055  경남        전용면적 102㎡초과  2019   6    4303
3056  제주         전용면적 60㎡이하  2019   6    3804
3057  제주   전용면적 60㎡초과 85㎡이하  2019   6    3791
3058  제주  전용면적 85㎡초과 102㎡이하  2019   6    3226
3059  제주        전용면적 102㎡초과  2019   6    3269

[3060 rows x 5 columns]

## 상위 데이터 보기

## 상위 데이터 10행 보기

## 하위 데이터 보기

## 데이터의 행과 열의 갯수 보기

## 열(column) 별로 데이터 보기

## 행(row) 별로 데이터 보기

## 열(row)과 행(column) 별로 데이터 보기

## df 데이터프레임의 컬럼별 데이터의 형태 보기

## 컬럼 이름 바꾸기

## 컬럼의 형태 바꾸기

In [0]:
df['분양가'] = df['분양가'].convert_objects(convert_numeric=True)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: FutureWarning: convert_objects is deprecated.  To re-infer data dtypes for object columns, use Series.infer_objects()
For all other conversions use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
  """Entry point for launching an IPython kernel.

## 새로운 컬럼 만들기

## 컬럼 추가하기

## 컬럼 삭제하기

## 위치 지정하여 컬럼 추가하기

## 조건에 따라 컬럼 추가하기

## 조건이 2개 이상일 경우 & 활용해서 컬럼 추가하기

## 조건이 2개 이상일 경우 | 활용해서 컬럼 추가하기

## 컬럼의 데이터 변경하기

## 데이터프레임의 컬럼 확인하기

## 컬럼 위치 조정하기

## 수학/통계 연산 활용하기

## 평균값 보기

## 최댓값 보기

## 최솟값 보기

## index로 정렬하기 - 내림차순 정렬

## index로 정렬하기 - 오름차순 정렬

## 컬럼 별로 정렬하기

## 문자열 변환하기 / 문자열을 이어서 새로운 컬럼의 값으로 넣기

In [0]:
df.dtypes

국가          object
광역권         object
지역명         object
규모구분        object
연도           int64
월            int64
분양가        float64
평당분양가      float64
평가          object
연도(str)     object
월(str)      object
날짜          object
dtype: object

## Datetime으로 변환하기

In [0]:
df.dtypes

국가                 object
광역권                object
지역명                object
규모구분               object
연도                  int64
월                   int64
분양가               float64
평당분양가             float64
평가                 object
연도(str)            object
월(str)             object
날짜         datetime64[ns]
dtype: object

In [0]:
df.head()

     국가  광역권 지역명          규모구분    연도  ...   평당분양가  평가  연도(str) 월(str)         날짜
0  대한민국  수도권  서울         60㎡이하  2015  ...  1712.0  비쌈     2015     10 2015-10-01
1  대한민국  수도권  서울   60㎡초과 85㎡이하  2015  ...  1782.0  비쌈     2015     10 2015-10-01
2  대한민국  수도권  서울  85㎡초과 102㎡이하  2015  ...  1733.0  비쌈     2015     10 2015-10-01
3  대한민국  수도권  서울        102㎡초과  2015  ...  1781.0  비쌈     2015     10 2015-10-01
4  대한민국  수도권  인천         60㎡이하  2015  ...  1056.0  보통     2015     10 2015-10-01

[5 rows x 12 columns]

## 연 또는 월 데이터만 가져오기

## 비어 있는 값 확인하기

In [0]:
df[df["지역명"].isnull()]

Empty DataFrame
Columns: [국가, 광역권, 지역명, 규모구분, 연도, 월, 분양가, 평당분양가, 평가, 연도(str), 월(str), 날짜]
Index: []

## 비어 있는 값에 값 채우기

In [0]:
df[df["광역권"].isnull()]

Empty DataFrame
Columns: [국가, 광역권, 지역명, 규모구분, 연도, 월, 분양가, 평당분양가, 평가, 연도(str), 월(str), 날짜]
Index: []

In [0]:
df.tail()

        국가   광역권 지역명          규모구분    연도  ...   평당분양가  평가  연도(str) 월(str)         날짜
3055  대한민국  비수도권  경남        102㎡초과  2019  ...  1303.0  보통     2019      6 2019-06-01
3056  대한민국  비수도권  제주         60㎡이하  2019  ...  1152.0  보통     2019      6 2019-06-01
3057  대한민국  비수도권  제주   60㎡초과 85㎡이하  2019  ...  1148.0  보통     2019      6 2019-06-01
3058  대한민국  비수도권  제주  85㎡초과 102㎡이하  2019  ...   977.0  보통     2019      6 2019-06-01
3059  대한민국  비수도권  제주        102㎡초과  2019  ...   990.0  보통     2019      6 2019-06-01

[5 rows x 12 columns]

## 새로운 컬럼 만들어서 비어 있는 값에 값 채우기 (1)

In [0]:
df[df["분양가"].isnull()][:5]

      국가   광역권 지역명          규모구분    연도  ...  평당분양가     평가  연도(str) 월(str)         날짜
22  대한민국  비수도권  광주  85㎡초과 102㎡이하  2015  ...    NaN  False     2015     10 2015-10-01
23  대한민국  비수도권  광주        102㎡초과  2015  ...    NaN  False     2015     10 2015-10-01
27  대한민국  비수도권  대전        102㎡초과  2015  ...    NaN  False     2015     10 2015-10-01
64  대한민국  비수도권  제주         60㎡이하  2015  ...    NaN  False     2015     10 2015-10-01
90  대한민국  비수도권  광주  85㎡초과 102㎡이하  2015  ...    NaN  False     2015     11 2015-11-01

[5 rows x 12 columns]

## 새로운 컬럼 만들어서 비어 있는 값에 값 채우기 (2)

In [0]:
df=df.drop(['연도(str)', '월(str)','분양가(not null)', '평당분양가(not null)'] , axis=1)

## 등호 활용하여 특정 조건에 해당하는 데이터 검색하기

## 부등호 활용하여 특정 조건에 해당하는 데이터 검색하기

## 여러 특정 값에 해당하는 데이터 검색하기

## 특정 문자가 들어가 있는 데이터 검색하기

## 여러 조건 중 하나만 성립해도 데이터 검색하기

## 여러 조건을 모두 만족하는 데이터 검색해서 새로운 변수에 저장하기

## 앞 행의 데이터 가져오기

## 뒤 행의 데이터 가져오기

## 특정 조건으로 컬럼 검색하기

## 피벗테이블로 보기

## 특정 컬럼을 기준으로 다른 컬럼 데이터의 통계수치 보기

## 파일로 저장하기

In [0]:
writer = pd.ExcelWriter('house_price_result1.xlsx')
df.to_excel(writer)
writer.save()

In [0]:
from google.colab import files
files.download('house_price_result1.xlsx')

In [0]:
writer = pd.ExcelWriter('house_price_result2.xlsx')
df2.to_excel(writer)
writer.save()

In [0]:
from google.colab import files
files.download('house_price_result2.xlsx')