## [과제 1]

### 다음과 같이 변수를 생성하였습니다.
### 다음 문제를 풀어주세요.

In [ ]:
rep1 = 11
rep2 = 3
rep3 = "서울시 부동산 매매추이"
rep4 = [2,4,7,8,10]
rep5 = {"grape":"포도", "melon":"메론", "apple":"사과", "banana":"오렌지"}

## 1) 변수 rep5의 데이터 형태를 확인해주세요.
tip) dtype

결과값) 

dict

## 2) 변수 rep1을 변수 rep2로 나누었을 때 몫과 나머지를 구해주세요.

결과값) 

몫: 3, 나머지: 2

## 3) 변수 rep3를 띄어쓰기를 기준으로 분리해서 리스트로 만들어주세요.

결과값) 

['서울시', '부동산', '매매추이']

## 4) 리스트 rep4의 3번째 값인 7을 6으로 수정해주세요 

결과값) 

[2, 4, 6, 8, 10]

## 5) 딕셔너리 rep5에서 banana의 값을 바나나로 수정하고, orange를 추가해주세요.

결과값)

{'apple': '사과', 'banana': '바나나', 'grape': '포도', 'melon': '메론', 'orange': '오렌지'}

## 파일 불러오기

**apart_dealing.csv 파일을 업로드하신 후 진행해 주세요!**

In [ ]:
from google.colab import files
uploaded = files.upload()

데이터 불러오기 (코드 수정 필요없음)

In [ ]:
import pandas as pd
import io

df = pd.read_csv(io.StringIO(uploaded['apart_dealing.csv'].decode('cp949')))
df

## [과제 3]

### 단지명, 전용면적, 거래금액 컬럼만 보여주세요

![예시](http://broccoli-letter.com/data_science_beginners/img/problem_3.png)

## [과제 4]
### 아래와 같은 조건에 따라 '규모' 이라는 새로운 컬럼을 만들어 주세요.
#### 전용면적 60㎡이하 - 소형
#### 전용면적 60㎡초과 85㎡이하 - 중형
#### 전용면적 85㎡초과 102㎡이하 - 중대형
#### 전용면적 102㎡초과 - 대형

![예시](https://drive.google.com/open?id=18XqT-IkvkCbocXjqGYKejw08Ny_AFOI4/view)

## [과제 5]
### 1) '계약년월' 컬럼의 데이터와 '계약일' 컬럼의 데이터를 합쳐서 '계약일' 컬럼으로 만들고, 날짜 타입으로 변환해주세요.

![예시](http://broccoli-letter.com/data_science_beginners/img/problem_5.png)

### 2) 계약일 기준으로 내림차순으로 정렬해주세요.

![예시](http://broccoli-letter.com/data_science_beginners/img/problem_5_1.png)

## [과제 6]
#### 1) '거래금액(만원)' 컬럼을 float 형태로 변환해주세요.
##### 힌트) 쉼표를 없애주어야 변환이 가능합니다. split()함수를 활용하세요

#### 2) '시군구' 컬럼의 데이터를 '시' 컬럼, '군'컬럼, '동'컬럼으로 분리해서 만들어 주세요

![예시](http://broccoli-letter.com/data_science_beginners/img/problem_6.png)

#### 3) 가락동의 중형아파트의 평균 거래금액은 얼마인가요?"

#### 4) 5층이하인 등촌동의 중대형아파트의 단지명, 계약일, 거래금액 정보를 알려주세요.

![예시](http://broccoli-letter.com/data_science_beginners/img/problem_7.png)