In [0]:
from google.colab import files
uploaded = files.upload()

Saving apart_2018.csv to apart_2018 (1).csv

In [0]:
import pandas as pd
import io

df = pd.read_csv(io.StringIO(uploaded['apart_2018.csv'].decode('cp949')))
df.head()

             시군구     번지   본번  부번             단지명  ...  계약일  거래금액(만원)  층  건축년도  도로명
0  서울특별시 강남구 개포동  658-1  658   1  개포6차우성아파트1동~8동  ...    3   130,000  4  1987  언주로
1  서울특별시 강남구 개포동  658-1  658   1  개포6차우성아파트1동~8동  ...    8   117,000  2  1987  언주로
2  서울특별시 강남구 개포동  658-1  658   1  개포6차우성아파트1동~8동  ...   11   130,000  1  1987  언주로
3  서울특별시 강남구 개포동  658-1  658   1  개포6차우성아파트1동~8동  ...   19   139,500  2  1987  언주로
4  서울특별시 강남구 개포동  658-1  658   1  개포6차우성아파트1동~8동  ...    5   107,500  5  1987  언주로

[5 rows x 12 columns]

#### Pandas 함수 모음
https://pandas.pydata.org/pandas-docs/stable/reference/frame.html

In [0]:
df.loc[df["전용면적(㎡)"]<=60, '규모']="소형"
df.loc[(df["전용면적(㎡)"]>60) & (df["전용면적(㎡)"]<=85), '규모']="중형"
df.loc[(df["전용면적(㎡)"]>85) & (df["전용면적(㎡)"]<=102), '규모']="중대형"
df.loc[df["전용면적(㎡)"]>102, '규모']="대형"
df.head()

             시군구     번지   본번  부번             단지명  ...  거래금액(만원)  층  건축년도  도로명  규모
0  서울특별시 강남구 개포동  658-1  658   1  개포6차우성아파트1동~8동  ...   130,000  4  1987  언주로  중형
1  서울특별시 강남구 개포동  658-1  658   1  개포6차우성아파트1동~8동  ...   117,000  2  1987  언주로  중형
2  서울특별시 강남구 개포동  658-1  658   1  개포6차우성아파트1동~8동  ...   130,000  1  1987  언주로  중형
3  서울특별시 강남구 개포동  658-1  658   1  개포6차우성아파트1동~8동  ...   139,500  2  1987  언주로  중형
4  서울특별시 강남구 개포동  658-1  658   1  개포6차우성아파트1동~8동  ...   107,500  5  1987  언주로  소형

[5 rows x 13 columns]

#### datetime 함수 모음
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.to_datetime.html

In [0]:
df["계약일"]=df["계약년월"].astype('str') + df["계약일"].astype('str')
df['계약일'] = pd.to_datetime(df['계약일'], format='%Y%m%d')
df.head()

             시군구     번지   본번  부번             단지명  ...  거래금액(만원)  층  건축년도  도로명  규모
0  서울특별시 강남구 개포동  658-1  658   1  개포6차우성아파트1동~8동  ...   130,000  4  1987  언주로  중형
1  서울특별시 강남구 개포동  658-1  658   1  개포6차우성아파트1동~8동  ...   117,000  2  1987  언주로  중형
2  서울특별시 강남구 개포동  658-1  658   1  개포6차우성아파트1동~8동  ...   130,000  1  1987  언주로  중형
3  서울특별시 강남구 개포동  658-1  658   1  개포6차우성아파트1동~8동  ...   139,500  2  1987  언주로  중형
4  서울특별시 강남구 개포동  658-1  658   1  개포6차우성아파트1동~8동  ...   107,500  5  1987  언주로  소형

[5 rows x 13 columns]

In [0]:
df['시']=df["시군구"].apply(lambda e: e.split()[0])
df['구']=df["시군구"].apply(lambda e: e.split()[1])
df['동']=df["시군구"].apply(lambda e: e.split()[2])
df.head()

             시군구     번지   본번  부번             단지명  ...  도로명  규모      시    구    동
0  서울특별시 강남구 개포동  658-1  658   1  개포6차우성아파트1동~8동  ...  언주로  중형  서울특별시  강남구  개포동
1  서울특별시 강남구 개포동  658-1  658   1  개포6차우성아파트1동~8동  ...  언주로  중형  서울특별시  강남구  개포동
2  서울특별시 강남구 개포동  658-1  658   1  개포6차우성아파트1동~8동  ...  언주로  중형  서울특별시  강남구  개포동
3  서울특별시 강남구 개포동  658-1  658   1  개포6차우성아파트1동~8동  ...  언주로  중형  서울특별시  강남구  개포동
4  서울특별시 강남구 개포동  658-1  658   1  개포6차우성아파트1동~8동  ...  언주로  소형  서울특별시  강남구  개포동

[5 rows x 16 columns]

In [0]:
df['거래금액(만원)'] = df['거래금액(만원)'].apply(lambda e: e.split(",")[0]+e.split(",")[1])
df['거래금액(만원)'] = df['거래금액(만원)'].convert_objects(convert_numeric=True)
df.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: FutureWarning: convert_objects is deprecated.  To re-infer data dtypes for object columns, use Series.infer_objects()
For all other conversions use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.

             시군구     번지   본번  부번             단지명  ...  도로명  규모      시    구    동
0  서울특별시 강남구 개포동  658-1  658   1  개포6차우성아파트1동~8동  ...  언주로  중형  서울특별시  강남구  개포동
1  서울특별시 강남구 개포동  658-1  658   1  개포6차우성아파트1동~8동  ...  언주로  중형  서울특별시  강남구  개포동
2  서울특별시 강남구 개포동  658-1  658   1  개포6차우성아파트1동~8동  ...  언주로  중형  서울특별시  강남구  개포동
3  서울특별시 강남구 개포동  658-1  658   1  개포6차우성아파트1동~8동  ...  언주로  중형  서울특별시  강남구  개포동
4  서울특별시 강남구 개포동  658-1  658   1  개포6차우성아파트1동~8동  ...  언주로  소형  서울특별시  강남구  개포동

[5 rows x 16 columns]

In [0]:
%matplotlib inline

import seaborn as sns

import matplotlib.pyplot as plt

In [0]:
%config InlineBackend.figure_format='retina'
!apt -qq -y install fonts-nanum > /dev/null

WARNING: apt does not have a stable CLI interface. Use with caution in scripts.

In [0]:
import matplotlib.font_manager as fm
fontpath = '/usr/share/fonts/truetype/nanum/NanumBarunGothic.ttf'
font=fm.FontProperties(fname=fontpath, size=9)

In [0]:
import matplotlib as mpl
mpl.font_manager._rebuild()
mpl.pyplot.rc('font', family='NanumBarunGothic')

#### countplot 함수 모음
https://seaborn.pydata.org/generated/seaborn.countplot.html

#### barplot 함수 모음
https://seaborn.pydata.org/generated/seaborn.barplot.html

#### pointplot 함수 모음
https://seaborn.pydata.org/generated/seaborn.pointplot.html

#### lmplot 함수 모음
https://seaborn.pydata.org/generated/seaborn.lmplot.html

In [0]:
df.corr()

                본번        부번   전용면적(㎡)      계약년월  거래금액(만원)         층      건축년도
본번        1.000000 -0.055797 -0.012434 -0.014952 -0.077493  0.024192  0.144151
부번       -0.055797  1.000000  0.022161  0.008273  0.003072 -0.023623 -0.015732
전용면적(㎡)  -0.012434  0.022161  1.000000 -0.033622  0.614566  0.122714  0.081150
계약년월     -0.014952  0.008273 -0.033622  1.000000  0.030643 -0.030451 -0.031009
거래금액(만원) -0.077493  0.003072  0.614566  0.030643  1.000000  0.157958  0.040414
층         0.024192 -0.023623  0.122714 -0.030451  0.157958  1.000000  0.175824
건축년도      0.144151 -0.015732  0.081150 -0.031009  0.040414  0.175824  1.000000